<% content_for :head do %>
<!--
  https://github.com/turbolinks/turbolinks#ensuring-specific-pages-trigger-a-full-reload
  https://stackoverflow.com/questions/39627881/jquery-plugin-initialization-on-browser-back-button-for-turbolinks-rails-5/39801052
  -->
<meta name="turbolinks-visit-control" content="reload">
<% end %>

<p hidden id='patron_calendar_index' class='pageName'>Patron-<%= user_view.id %> Calendar</p>

<div class="container">

  <div class="columns is-centered is-multiline">
    <% spaces_view.each do |space_view| %>
    <div class="column is-full-mobile is-half-tablet is-one-third-widescreen is-centered">
      <p class="is-size-4 has-text-centered">Place: <strong><%= space_view.space_name%></strong></p>
      <%= render 'calendar',  user_view: user_view, space_view: space_view,
                              calendar_view: calendar_view,
                              prev_month_path: patrons_path(date: calendar_view.prev_month_string),
                              next_month_path: patrons_path(date: calendar_view.next_month_string)  %>
    </div>
    <% end %>
  </div>

</div>
